
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="~/Content/SiteLayout/img/progym-spor-salonu.ico">

    <title>404 | Sayfa Bulunamadı !</title>

    <link href="/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/Content/AdminLayout/css/style.css" rel="stylesheet">
    <link href="/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="page-404">
        <p class="text-404">404</p>

        <h2>Böyle bir sayfa bulunamadı !</h2>
        <p>Bu sayfa bulunamadı ya da henüz oluşturulmadı !<br><a href="/Anasayfa">Anasayfaya Dön</a></p>
    </div>
</body>
</html>

